body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1520px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1519px;
  height:458px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1519px;
  height:458px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:22px;
  width:27px;
  height:27px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:24px;
  width:281px;
  height:143px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u169 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:22px;
  width:27px;
  height:27px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:22px;
  width:225px;
  height:34px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u171 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1453px;
  height:2px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:61px;
  width:1452px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.0038838695150151853deg);
  -moz-transform:rotate(-0.0038838695150151853deg);
  -ms-transform:rotate(-0.0038838695150151853deg);
  transform:rotate(-0.0038838695150151853deg);
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:41px;
  color:#555555;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:704px;
  width:327px;
  height:76px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:41px;
  color:#555555;
}
#u173 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#000000;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:945px;
  width:124px;
  height:50px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#000000;
}
#u174 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u175_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u175_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u175_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u175_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:945px;
  width:317px;
  height:50px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u175_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u175.hint {
}
#u175_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u175.disabled {
}
#u175_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u175.hint.disabled {
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#000000;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:945px;
  width:136px;
  height:39px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#000000;
}
#u176 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u177_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u177_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u177_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u177_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:945px;
  width:317px;
  height:50px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u177_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u177.hint {
}
#u177_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u177.disabled {
}
#u177_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u177.hint.disabled {
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#000000;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:1046px;
  width:124px;
  height:50px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#000000;
}
#u178 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u179_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u179_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u179_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u179_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:1039px;
  width:317px;
  height:50px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u179_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u179.hint {
}
#u179_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u179.disabled {
}
#u179_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u179.hint.disabled {
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#000000;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:1040px;
  width:320px;
  height:64px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#000000;
}
#u180 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u181_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u181_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u181_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u181_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:1040px;
  width:317px;
  height:50px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u181_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u181.hint {
}
#u181_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u181.disabled {
}
#u181_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u181.hint.disabled {
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#000000;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:1147px;
  width:370px;
  height:64px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#000000;
}
#u182 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u183_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u183_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u183_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u183_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:1147px;
  width:317px;
  height:50px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u183_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u183.hint {
}
#u183_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u183.disabled {
}
#u183_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u183.hint.disabled {
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:71px;
  background:inherit;
  background-color:rgba(99, 161, 3, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:1370px;
  width:242px;
  height:71px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
}
#u184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:2px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:795px;
  width:1459px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.2471836942515374deg);
  -moz-transform:rotate(-0.2471836942515374deg);
  -ms-transform:rotate(-0.2471836942515374deg);
  transform:rotate(-0.2471836942515374deg);
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:515px;
  width:39px;
  height:35px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#333333;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:515px;
  width:227px;
  height:53px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#333333;
}
#u187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:534px;
  width:16px;
  height:15px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#AAAAAA;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:525px;
  width:177px;
  height:33px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#AAAAAA;
}
#u189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:1351px;
  top:17px;
  width:27px;
  height:27px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:1393px;
  top:17px;
  width:99px;
  height:29px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u191 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:95px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:694px;
  width:75px;
  height:85px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1520px;
  height:458px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1543px;
  width:1520px;
  height:458px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1473px;
  height:2px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1944px;
  width:1472px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.04233001586459638deg);
  -moz-transform:rotate(0.04233001586459638deg);
  -ms-transform:rotate(0.04233001586459638deg);
  transform:rotate(0.04233001586459638deg);
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1962px;
  width:27px;
  height:27px;
  display:flex;
}
#u195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:1957px;
  width:177px;
  height:37px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u196_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:1299px;
  top:1878px;
  width:50px;
  height:50px;
  display:flex;
}
#u197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:1878px;
  width:50px;
  height:50px;
  display:flex;
}
#u198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:1397px;
  top:1878px;
  width:50px;
  height:50px;
  display:flex;
}
#u199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#000000;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:1141px;
  width:158px;
  height:45px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#000000;
}
#u200 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u201_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u201_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u201_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u201_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:1144px;
  width:317px;
  height:50px;
  display:flex;
}
#u201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u201_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u201.hint {
}
#u201_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u201.disabled {
}
#u201_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u201.hint.disabled {
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:1335px;
  top:1158px;
  width:29px;
  height:28px;
  display:flex;
}
#u202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
