body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1520px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1519px;
  height:458px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:1519px;
  height:458px;
  display:flex;
  font-size:10px;
}
#u428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:23px;
  width:281px;
  height:143px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u429 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:22px;
  width:225px;
  height:37px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u430 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u430_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:1440px;
  top:22px;
  width:28px;
  height:34px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u431 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u431_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:2px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:61px;
  width:1461px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.018369593346199226deg);
  -moz-transform:rotate(0.018369593346199226deg);
  -ms-transform:rotate(0.018369593346199226deg);
  transform:rotate(0.018369593346199226deg);
  color:#7F7F7F;
}
#u432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:22px;
  width:27px;
  height:27px;
  display:flex;
}
#u433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:19px;
  width:27px;
  height:27px;
  display:flex;
}
#u434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:1398px;
  top:22px;
  width:27px;
  height:27px;
  display:flex;
  color:#63A103;
}
#u435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:29px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:528px;
  width:38px;
  height:29px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#333333;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:524px;
  width:117px;
  height:44px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#333333;
}
#u437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"CourierNewPS-BoldMT", "Courier New Bold", "Courier New", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:986px;
  width:1px;
  height:59px;
  display:flex;
  font-family:"CourierNewPS-BoldMT", "Courier New Bold", "Courier New", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u438 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:64px;
  background:inherit;
  background-color:rgba(99, 161, 3, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:1218px;
  width:240px;
  height:64px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
}
#u439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#AAAAAA;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:532px;
  width:173px;
  height:28px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#AAAAAA;
}
#u440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:540px;
  width:16px;
  height:13px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola Bold", "Gabriola", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:56px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:601px;
  width:245px;
  height:76px;
  display:flex;
  font-family:"Gabriola Bold", "Gabriola", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:56px;
}
#u442 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:540px;
  width:16px;
  height:13px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#AAAAAA;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:532px;
  width:88px;
  height:28px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#AAAAAA;
}
#u444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1520px;
  height:458px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1468px;
  width:1520px;
  height:458px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1456px;
  height:2px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1868px;
  width:1455px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.001008687212261326deg);
  -moz-transform:rotate(-0.001008687212261326deg);
  -ms-transform:rotate(-0.001008687212261326deg);
  transform:rotate(-0.001008687212261326deg);
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:1882px;
  width:177px;
  height:37px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u447 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u447_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:1802px;
  width:50px;
  height:50px;
  display:flex;
}
#u448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:1802px;
  width:50px;
  height:50px;
  display:flex;
}
#u449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:1802px;
  width:50px;
  height:50px;
  display:flex;
}
#u450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:1887px;
  width:27px;
  height:27px;
  display:flex;
}
#u451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:64px;
  background:inherit;
  background-color:rgba(99, 161, 3, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:1218px;
  width:240px;
  height:64px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
}
#u452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1386px;
  width:75px;
  height:67px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u453 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:1411px;
  width:34px;
  height:32px;
  display:flex;
}
#u454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:421px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:696px;
  width:382px;
  height:421px;
  display:flex;
}
#u455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  height:349px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:742px;
  width:881px;
  height:349px;
  display:flex;
  font-family:"Gabriola", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u456 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:1043px;
  width:203px;
  height:136px;
}
#u457_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:136px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u457_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.4px;
  color:#8C8C8C;
  text-align:left;
  line-height:20px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:147px;
  width:242px;
  height:70px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.4px;
  color:#8C8C8C;
  text-align:left;
  line-height:20px;
}
#u458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:54px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:41px;
  width:63px;
  height:54px;
  display:flex;
  font-size:30px;
  color:#717171;
}
#u460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u460_img.mouseOver {
}
#u460.mouseOver {
}
#u460_img.disabled {
}
#u460.disabled {
}
#u460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:32px;
  height:5px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:66px;
  width:29px;
  height:2px;
  display:flex;
}
#u461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u461_img.mouseOver {
}
#u461.mouseOver {
}
#u461_img.disabled {
}
#u461.disabled {
}
#u461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:1043px;
  width:193px;
  height:136px;
}
#u462_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:136px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u462_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:54px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:41px;
  width:63px;
  height:54px;
  display:flex;
  font-size:30px;
  color:#717171;
}
#u464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u464_img.mouseOver {
}
#u464.mouseOver {
}
#u464_img.disabled {
}
#u464.disabled {
}
#u464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:32px;
  height:28px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:55px;
  width:29px;
  height:25px;
  display:flex;
}
#u465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u465_img.mouseOver {
}
#u465.mouseOver {
}
#u465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:55px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:1084px;
  width:49px;
  height:55px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:34px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:844px;
  width:27px;
  height:34px;
  display:flex;
}
#u467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:34px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:989px;
  width:27px;
  height:34px;
  display:flex;
}
#u468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:34px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:747px;
  width:27px;
  height:34px;
  display:flex;
}
#u469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
